# RELACIÓN ENTRE ALGUNAS VARIABLES SOCIODEMOGRÁFICAS CON LA RESISTENCIA A LA INSULINA DENTRO DE LA POBLACIÓN ESPAÑOLA.

# LIMPIEZA Y TRANSFORMACIÓN DE LOS DATOS.

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

# 1. Estudio poblacional español.

# 1.1. Exploración inicial.

In [2]:
df_original = pd.read_csv('/Users/karmelealonsoaia/Desktop/ironhack_labs/PROYECTOS/3.-project_etl/data/data_raw/estudio_poblacional_palma_mallorca.csv', sep=';')

df = df_original.copy()

In [3]:
dim_original = df.shape # De esta forma guardo las dimensiones del data frame original.

df.shape

(58576, 75)

In [4]:
df.head()

,sexo,edad,edad_A,estudios,clasesocial,ejercicio,alimentación,tabaco,altura,peso,IMC,TAS,TAD,TART,HTA,COLESTEROL,CT,HDL,LDL,LDL_A,TRIGLICERIDOS,TG,GLUCEMIA,GLUC,DIABETES,CINTURA,CADERA,CINTALTURA,ICALT,CINTCADERA,CINTCADERA_A,AVI,AVI_A,BAI,BAI_A,WWINDEX,BSA,BSI,BRI,ABSI,VAI,DAI,CI,BFI,Deuremberg,Palafolls,RFM,ECORE,CUNBAE,METSVF,MetsIR,Sexo_num,estudios_num,clasesocial_num,ejercicio_num,CUNBAE_A,alimentacion_num,tabaco_num,HTA_num,TART_num,CT_num,TG_num,LDL_A_num,edad_A_num,GLUC_num,DIABETES_num,IMC_A,ICALT_num,METSVF_A,IMC_A_Kappa,IMC_obesidad,BAI_A_Num,BAI_A_obesidad,CUNBAE_A_Obesidad,METSVF_A_Obesidad
0,Mujer,57,50-59a,secundarios,III,si,no,no,166,62,"22,5",110,70,normal,no,185,normal,47,126,normal,61,normal,84,normal,no,58,94,"0,41",normal,"0,62",no,"7,64",normal,"25,95",saludable,"7,37","1,69","47,7","0,97","0,057","1,79","0,46","0,87","13,33","34,71","36,38","18,76","33,77","34,71","5,03","2,21997653",1,2,3,1,3,0,0,0,1,1,1,1,4,1,0,2,1,1,1,0,2,0,1,0
1,Hombre,28,20-29a,primarios,III,si,si,no,"181,5",82,"24,9",120,65,preHTA,no,197,normal,58,126,normal,66,normal,62,normal,no,96,87,"0,53",alto,"1,1",no,"18,49",normal,"17,58",saludable,"10,6","2,03","57,56","3,92","0,084","3,61","0,46","1,31","17,33","20,12","27,49","26,19","21,95","21,66","6,4","2,083982426",0,1,3,1,3,1,0,0,2,1,1,1,1,1,0,2,2,1,1,0,2,0,1,0
2,Hombre,25,20-29a,universitarios,I,no,no,no,177,69,22,120,55,preHTA,no,229,limítrofe,50,159,limítrofe,98,normal,83,normal,no,71,76,"0,41",normal,"0,93",no,"10,1",normal,"14,27",saludable,"8,55","1,85","50,7","1,69","0,068","4,67","0,65","1,04","0,52","15,95","25,1","14,14","17,12","16,33","4,85","2,215475611",0,3,1,0,2,0,0,0,2,2,1,2,1,1,0,2,1,1,1,0,2,0,0,0
3,Hombre,50,50-59a,secundarios,III,no,no,si,171,86,"29,4",150,100,HTA 2,si,272,alto,47,206,muy alto,96,normal,110,prediabetes,no,79,90,"0,47",normal,"0,88",no,"12,57",normal,"22,25",sobrepeso,"8,52","1,98","61,06","2,67","0,064","5,34","0,6","1,02","6,39","30,58","33,12","20,71","30,63","30,62","6,31","2,373087433",0,2,3,0,4,0,1,1,4,3,1,4,4,2,0,3,1,1,1,0,3,0,0,0
4,Mujer,33,30-39a,secundarios,II,si,no,no,154,45,19,100,60,normal,no,191,normal,58,112,normal,105,normal,81,normal,no,61,80,"0,4",normal,"0,76",no,"7,69",normal,"23,86",saludable,"9,09","1,4","38,08","1,62","0,069","2,86","0,76","1,04","17,81","24,99","32,11","25,51","24,74","24,96","4,43","2,101171625",1,2,2,1,1,0,0,0,1,1,1,1,2,1,0,2,1,1,1,0,2,0,0,0

In [5]:
df.columns # Esto nos proporciona una enumeración de los nombres correspondientes a cada una de las columnas presentes en los datos.

Index(['sexo', 'edad', 'edad_A', 'estudios', 'clasesocial', 'ejercicio',
       'alimentación', 'tabaco', 'altura', 'peso', 'IMC', 'TAS', 'TAD', 'TART',
       'HTA', 'COLESTEROL', 'CT', 'HDL', 'LDL', 'LDL_A', 'TRIGLICERIDOS', 'TG',
       'GLUCEMIA', 'GLUC', 'DIABETES', 'CINTURA', 'CADERA', 'CINTALTURA',
       'ICALT', 'CINTCADERA', 'CINTCADERA_A', 'AVI', 'AVI_A', 'BAI', 'BAI_A',
       'WWINDEX', 'BSA', 'BSI', 'BRI', 'ABSI', 'VAI', 'DAI', 'CI', 'BFI',
       'Deuremberg', 'Palafolls', 'RFM', 'ECORE', 'CUNBAE', 'METSVF', 'MetsIR',
       'Sexo_num', 'estudios_num', 'clasesocial_num', 'ejercicio_num',
       'CUNBAE_A', 'alimentacion_num', 'tabaco_num', 'HTA_num', 'TART_num',
       'CT_num', 'TG_num', 'LDL_A_num', 'edad_A_num', 'GLUC_num',
       'DIABETES_num', 'IMC_A', 'ICALT_num', 'METSVF_A', 'IMC_A_Kappa',
       'IMC_obesidad', 'BAI_A_Num', 'BAI_A_obesidad', 'CUNBAE_A_Obesidad',
       'METSVF_A_Obesidad'],
      dtype='object')

In [6]:
df.info() # De este modo conzco el tipo de dato y los valores nulos que tiene cada una de las columnas.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58576 entries, 0 to 58575
Data columns (total 75 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sexo               58576 non-null  object
 1   edad               58576 non-null  int64
 2   edad_A             58576 non-null  object
 3   estudios           58576 non-null  object
 4   clasesocial        58576 non-null  object
 5   ejercicio          58576 non-null  object
 6   alimentación       58576 non-null  object
 7   tabaco             58576 non-null  object
 8   altura             58576 non-null  object
 9   peso               58576 non-null  object
 10  IMC                58576 non-null  object
 11  TAS                58576 non-null  int64
 12  TAD                58576 non-null  int64
 13  TART               58576 non-null  object
 14  HTA                58576 non-null  object
 15  COLESTEROL         58576 non-null  int64
 16  CT                 58576 non-null  object
 17  HDL                58576 non-null  int64
 18  LDL                58576 non-null  int64
 19  LDL_A              58576 non-null  object
 20  TRIGLICERIDOS      58576 non-null  int64
 21  TG                 58576 non-null  object
 22  GLUCEMIA           58576 non-null  int64
 23  GLUC               58576 non-null  object
 24  DIABETES           58576 non-null  object
 25  CINTURA            58576 non-null  int64
 26  CADERA             58576 non-null  int64
 27  CINTALTURA         58576 non-null  object
 28  ICALT              58576 non-null  object
 29  CINTCADERA         58576 non-null  object
 30  CINTCADERA_A       58576 non-null  object
 31  AVI                58576 non-null  object
 32  AVI_A              58576 non-null  object
 33  BAI                58576 non-null  object
 34  BAI_A              58576 non-null  object
 35  WWINDEX            58576 non-null  object
 36  BSA                58576 non-null  object
 37  BSI                58576 non-null  object
 38  BRI                58576 non-null  object
 39  ABSI               58576 non-null  object
 40  VAI                58576 non-null  object
 41  DAI                58576 non-null  object
 42  CI                 58576 non-null  object
 43  BFI                58576 non-null  object
 44  Deuremberg         58576 non-null  object
 45  Palafolls          58576 non-null  object
 46  RFM                58576 non-null  object
 47  ECORE              58576 non-null  object
 48  CUNBAE             58576 non-null  object
 49  METSVF             58576 non-null  object
 50  MetsIR             58576 non-null  object
 51  Sexo_num           58576 non-null  int64
 52  estudios_num       58576 non-null  int64
 53  clasesocial_num    58576 non-null  int64
 54  ejercicio_num      58576 non-null  int64
 55  CUNBAE_A           58576 non-null  int64
 56  alimentacion_num   58576 non-null  int64
 57  tabaco_num         58576 non-null  int64
 58  HTA_num            58576 non-null  int64
 59  TART_num           58576 non-null  int64
 60  CT_num             58576 non-null  int64
 61  TG_num             58576 non-null  int64
 62  LDL_A_num          58576 non-null  int64
 63  edad_A_num         58576 non-null  int64
 64  GLUC_num           58576 non-null  int64
 65  DIABETES_num       58576 non-null  int64
 66  IMC_A              58576 non-null  int64
 67  ICALT_num          58576 non-null  int64
 68  METSVF_A           58576 non-null  int64
 69  IMC_A_Kappa        58576 non-null  int64
 70  IMC_obesidad       58576 non-null  int64
 71  BAI_A_Num          58576 non-null  int64
 72  BAI_A_obesidad     58576 non-null  int64
 73  CUNBAE_A_Obesidad  58576 non-null  int64
 74  METSVF_A_Obesidad  58576 non-null  int64
dtypes: int64(34), object(41)
memory usage: 33.5+ MB

# 1.2. Eliminar duplicados.

Para iniciar el proceso de limpieza de los datos, tras llevar a cabo una exploración inicial de los mismos, debemos centrarnos y priorizar el número de duplicados con los que contamos. La presencia de estos no aporta ningún beneficio para el análisis, por lo que resulta aconsejable proceder a su eliminación.

In [7]:
df.duplicated().any()

True

In [8]:
df.drop_duplicates(inplace = True)

In [9]:
df.shape

(48358, 75)

# 1.3. Limpieza y transformación.

Tras un estudio de la tabla, decido eliminar todas aquellas columnas que no aporten ninguna información relevante con respecto al estudio que se está realizando o aquellas de las que desconozca su significado.

In [10]:
columnas_a_eliminar = ["TAS", "TAD", "TART", "HTA", "HDL", "LDL", "LDL_A", "TRIGLICERIDOS", "TG", "CINTURA", "CADERA", "CINTALTURA", "ICALT", "CINTCADERA", "CINTCADERA_A", "AVI", "AVI_A", "BAI", "BAI_A", "WWINDEX", "BSA", "BSI", "BRI", "ABSI", "VAI", "DAI", "CI", "BFI", "Deuremberg", "Palafolls", "RFM", "ECORE",
                       "CUNBAE", "METSVF", "MetsIR", "CUNBAE_A", "HTA_num", "TART_num", "CT_num", "TG_num", "LDL_A_num", "ICALT_num", "METSVF_A", "IMC_A_Kappa", "IMC_obesidad", "BAI_A_Num", "BAI_A_obesidad", "CUNBAE_A_Obesidad", "METSVF_A_Obesidad" ]

In [11]:
df = df.drop(columnas_a_eliminar, axis=1) # A continuación elimino otras que se encuentran en una parte anterior de la tabla pero que tampoco necesito tenerlas en cuenta de cara al estudio que se pretende realizar.
df.head()

,sexo,edad,edad_A,estudios,clasesocial,ejercicio,alimentación,tabaco,altura,peso,IMC,COLESTEROL,CT,GLUCEMIA,GLUC,DIABETES,Sexo_num,estudios_num,clasesocial_num,ejercicio_num,alimentacion_num,tabaco_num,edad_A_num,GLUC_num,DIABETES_num,IMC_A
0,Mujer,57,50-59a,secundarios,III,si,no,no,166,62,"22,5",185,normal,84,normal,no,1,2,3,1,0,0,4,1,0,2
1,Hombre,28,20-29a,primarios,III,si,si,no,"181,5",82,"24,9",197,normal,62,normal,no,0,1,3,1,1,0,1,1,0,2
2,Hombre,25,20-29a,universitarios,I,no,no,no,177,69,22,229,limítrofe,83,normal,no,0,3,1,0,0,0,1,1,0,2
3,Hombre,50,50-59a,secundarios,III,no,no,si,171,86,"29,4",272,alto,110,prediabetes,no,0,2,3,0,0,1,4,2,0,3
4,Mujer,33,30-39a,secundarios,II,si,no,no,154,45,19,191,normal,81,normal,no,1,2,2,1,0,0,2,1,0,2

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48358 entries, 0 to 48365
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sexo              48358 non-null  object
 1   edad              48358 non-null  int64
 2   edad_A            48358 non-null  object
 3   estudios          48358 non-null  object
 4   clasesocial       48358 non-null  object
 5   ejercicio         48358 non-null  object
 6   alimentación      48358 non-null  object
 7   tabaco            48358 non-null  object
 8   altura            48358 non-null  object
 9   peso              48358 non-null  object
 10  IMC               48358 non-null  object
 11  COLESTEROL        48358 non-null  int64
 12  CT                48358 non-null  object
 13  GLUCEMIA          48358 non-null  int64
 14  GLUC              48358 non-null  object
 15  DIABETES          48358 non-null  object
 16  Sexo_num          48358 non-null  int64
 17  estudios_num      48358 non-null  int64
 18  clasesocial_num   48358 non-null  int64
 19  ejercicio_num     48358 non-null  int64
 20  alimentacion_num  48358 non-null  int64
 21  tabaco_num        48358 non-null  int64
 22  edad_A_num        48358 non-null  int64
 23  GLUC_num          48358 non-null  int64
 24  DIABETES_num      48358 non-null  int64
 25  IMC_A             48358 non-null  int64
dtypes: int64(13), object(13)
memory usage: 10.0+ MB

Se procederá a modificar el tipo de dato en ciertas columnas con el objetivo de facilitar su manejo con respecto al estudio posterior.  

Se comenzará, así, por las columnas de "altura", "peso" e "IMC", que se convertirán a tipo float.

In [13]:
df.columns = df.columns.str.lower() # Decido ahora cambiar todos los nombres de las columnas a minúscula.

In [14]:
df["altura"] = pd.to_numeric(df["altura"].str.replace(',', '.'))
df["altura"] = df["altura"].astype("float64")

In [15]:
df["peso"] = pd.to_numeric(df["peso"].str.replace(',', '.'))
df["peso"] = df["peso"].astype("float64")

In [16]:
df["imc" ] = pd.to_numeric(df["imc"].str.replace(',', '.'))
df["imc"] = df["imc"].astype("float64")

In [17]:
df = df.rename(columns={"edad_a": "rango_edad"})
df = df.rename(columns={"clasesocial": "clase_social"}) # Le cambio el nombre sutilmente para una mejor claridad.
df = df.rename(columns={"alimentación": "dieta_mediterranea"})
df = df.rename(columns={"tabaco": "consumo_tabaco"})
df = df.rename(columns={"clasesocial_num": "clase_social_num"})
df = df.rename(columns={"alimentacion_num": "dieta_mediterranea_num"})
df = df.rename(columns={"tabaco_num": "consumo_tabaco_num"})
df = df.rename(columns={"edad_A_num": "rango_edad_num"})
df = df.rename(columns={"IMC_a": "imc_num"})

In [18]:
df.head()

,sexo,edad,rango_edad,estudios,clase_social,ejercicio,dieta_mediterranea,consumo_tabaco,altura,peso,imc,colesterol,ct,glucemia,gluc,diabetes,sexo_num,estudios_num,clase_social_num,ejercicio_num,dieta_mediterranea_num,consumo_tabaco_num,edad_a_num,gluc_num,diabetes_num,imc_a
0,Mujer,57,50-59a,secundarios,III,si,no,no,166.0,62.0,22.5,185,normal,84,normal,no,1,2,3,1,0,0,4,1,0,2
1,Hombre,28,20-29a,primarios,III,si,si,no,181.5,82.0,24.9,197,normal,62,normal,no,0,1,3,1,1,0,1,1,0,2
2,Hombre,25,20-29a,universitarios,I,no,no,no,177.0,69.0,22.0,229,limítrofe,83,normal,no,0,3,1,0,0,0,1,1,0,2
3,Hombre,50,50-59a,secundarios,III,no,no,si,171.0,86.0,29.4,272,alto,110,prediabetes,no,0,2,3,0,0,1,4,2,0,3
4,Mujer,33,30-39a,secundarios,II,si,no,no,154.0,45.0,19.0,191,normal,81,normal,no,1,2,2,1,0,0,2,1,0,2

In [19]:
df['rango_edad'] = df['rango_edad'].replace({'a': ''}, regex=True)

In [20]:
df.head()

,sexo,edad,rango_edad,estudios,clase_social,ejercicio,dieta_mediterranea,consumo_tabaco,altura,peso,imc,colesterol,ct,glucemia,gluc,diabetes,sexo_num,estudios_num,clase_social_num,ejercicio_num,dieta_mediterranea_num,consumo_tabaco_num,edad_a_num,gluc_num,diabetes_num,imc_a
0,Mujer,57,50-59,secundarios,III,si,no,no,166.0,62.0,22.5,185,normal,84,normal,no,1,2,3,1,0,0,4,1,0,2
1,Hombre,28,20-29,primarios,III,si,si,no,181.5,82.0,24.9,197,normal,62,normal,no,0,1,3,1,1,0,1,1,0,2
2,Hombre,25,20-29,universitarios,I,no,no,no,177.0,69.0,22.0,229,limítrofe,83,normal,no,0,3,1,0,0,0,1,1,0,2
3,Hombre,50,50-59,secundarios,III,no,no,si,171.0,86.0,29.4,272,alto,110,prediabetes,no,0,2,3,0,0,1,4,2,0,3
4,Mujer,33,30-39,secundarios,II,si,no,no,154.0,45.0,19.0,191,normal,81,normal,no,1,2,2,1,0,0,2,1,0,2

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48358 entries, 0 to 48365
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sexo                    48358 non-null  object
 1   edad                    48358 non-null  int64
 2   rango_edad              48358 non-null  object
 3   estudios                48358 non-null  object
 4   clase_social            48358 non-null  object
 5   ejercicio               48358 non-null  object
 6   dieta_mediterranea      48358 non-null  object
 7   consumo_tabaco          48358 non-null  object
 8   altura                  48358 non-null  float64
 9   peso                    48358 non-null  float64
 10  imc                     48358 non-null  float64
 11  colesterol              48358 non-null  int64
 12  ct                      48358 non-null  object
 13  glucemia                48358 non-null  int64
 14  gluc                    48358 non-null  object
 15  diabetes                48358 non-null  object
 16  sexo_num                48358 non-null  int64
 17  estudios_num            48358 non-null  int64
 18  clase_social_num        48358 non-null  int64
 19  ejercicio_num           48358 non-null  int64
 20  dieta_mediterranea_num  48358 non-null  int64
 21  consumo_tabaco_num      48358 non-null  int64
 22  edad_a_num              48358 non-null  int64
 23  gluc_num                48358 non-null  int64
 24  diabetes_num            48358 non-null  int64
 25  imc_a                   48358 non-null  int64
dtypes: float64(3), int64(13), object(10)
memory usage: 10.0+ MB

Revisamos que no haya ningún valor especialemnte atípico para cada una de las columnas númericas de la tabla y observamos sus estadísticas.

In [22]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
edad,48358.0,39.556289,10.265885,20.0,32.0,39.0,47.0,70.0
altura,48358.0,168.865946,9.275402,139.5,162.0,169.0,175.0,205.0
peso,48358.0,74.819203,15.647514,35.0,63.0,74.0,84.0,176.0
imc,48358.0,26.136548,4.572618,15.1,22.9,25.5,28.7,56.2
colesterol,48358.0,194.990012,37.942506,80.0,168.0,193.0,218.0,579.0
glucemia,48358.0,86.508520,12.528603,26.0,78.0,86.0,94.0,248.0
sexo_num,48358.0,0.398300,0.489553,0.0,0.0,0.0,1.0,1.0
estudios_num,48358.0,1.484180,0.605914,1.0,1.0,1.0,2.0,3.0
clase_social_num,48358.0,2.643575,0.590203,1.0,2.0,3.0,3.0,3.0
ejercicio_num,48358.0,0.481802,0.499674,0.0,0.0,0.0,1.0,1.0
dieta_mediterranea_num,48358.0,0.451321,0.497630,0.0,0.0,0.0,1.0,1.0
consumo_tabaco_num,48358.0,0.354419,0.478342,0.0,0.0,0.0,1.0,1.0
edad_a_num,48358.0,2.513173,1.052867,1.0,2.0,2.0,3.0,5.0
gluc_num,48358.0,1.135097,0.363412,1.0,1.0,1.0,1.0,3.0
diabetes_num,48358.0,0.007610,0.086903,0.0,0.0,0.0,0.0,1.0
imc_a,48358.0,2.721866,0.764207,1.0,2.0,3.0,3.0,4.0

Ahora hacemos el mismo procedimiento con las columnas no numéricas.

In [23]:
df.describe(include = "object").T

                    count unique        top   freq
sexo                48358      2     Hombre  29097
rango_edad          48358      5      30-39  16041
estudios            48358      3  primarios  27782
clase_social        48358      3        III  33998
ejercicio           48358      2         no  25059
dieta_mediterranea  48358      2         no  26533
consumo_tabaco      48358      2         no  31219
ct                  48358      3     normal  27264
gluc                48358      3     normal  42193
diabetes            48358      2         no  47990

# 2. Exportación del data frame limpio.

In [ ]:
#df.to_csv('df_estudio_poblacional.csv', index=False)